html {
    height: 100%;
    margin: 0;
}
body {
    padding: 5px;
    background-color: #2B2B2B;
    color: #FFFFFF;
    /*height: 100%;*/
}
#console span, #console input {
    font-family: monospace;
    white-space: pre;
}
#console form {
    display: inline;
}

.operator {
    color: mediumaquamarine;
}

.inputLine {
    font-weight: bold;
}

.new-line {
    color: #FFFFFF;
}

.command-executed {
    color: #FFFFFF;
}
.user, .atHost, .host {
    color: rgba(189, 147, 249, 1);

}
#command {
    outline: none;
    border: none;
}