#command {
    font-family: monospace;
    white-space: pre;
    outline-color: transparent;
}
.prompt {
    font-weight: bold;
}
#console-content span, .welcome {
    font-family: monospace;
    white-space: pre;
}
body {
    background-color: #2B2B2B;
    color: #FFFFFF;
    /*height: 100%;*/
}
.operator {
    color: mediumaquamarine;
}
.new-line {
    color: #FFFFFF;
}
.command-executed {
    color: #FFFFFF;
}
.user, .atHost, .host {
    color: rgba(189, 147, 249, 1);
}
