#command {
    font-family: monospace;
    white-space: pre;
    outline-color: transparent;
}
.prompt {
    font-weight: bold;
}
#console-content span, .welcome {
    font-family: monospace;
    white-space: pre;
}
.user, .atHost, .host {
    color: green;
}
