html {
    height: 100%;
    margin: 0;
}
body {
    padding: 5px;
}
#console {
    /*height: 100%;*/
}
#console span, #console input {
    font-family: monospace;
    white-space: pre;
}
#console form {
    display: inline;
}
.inputLine {
    font-weight: bold;
}
.user, .atHost, .host {
    color: green;

}
#command {
    outline: none;
    border: none;
}
.response > .line {
    display: block;
}
